<body>
    <div class="menuToggle">Menu</div>
    <ul class="active">
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fal fa-home-alt" aria-hidden="true"></i>
                    <i class="fal fa-home-alt" aria-hidden="true"></i>
                </div>
                <div class="name"><span data-text="Home">Home</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fal fa-calendar-alt" aria-hidden="true"></i>
                    <i class="fal fa-calendar-alt" aria-hidden="true"></i>
                </div>
                <div class="name"><span data-text="Events">Events</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fal fa-user" aria-hidden="true"></i>
                    <i class="fal fa-user" aria-hidden="true"></i>
                </div>
                <div class="name"><span data-text="Account">Account</span></div>

            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <i class="fal fa-cogs" aria-hidden="true"></i>
                    <i class="fal fa-cogs" aria-hidden="true"></i>
                </div>
                <div class="name"><span data-text="Settings">Settings</span></div>
            </a>
        </li>
    </ul>
</body>