<h1 class="tittle">{{ "TITULO" | translate }}</h1>
<hr>
<div class="grid-container ">

  <!-- Idioma Bottom -->
  <div style="text-align: center;">
    <h1>{{ "Idioma" | translate }}</h1>
    <button [matMenuTriggerFor]="menu" pButton pRipple type="button" label='{{ "Idioma" | translate }}'  class="p-button-outlined p-button-rounded p-button-success"></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="translateLenguage(1)"> <img src="../../assets/image/es.png">Es</button>
      <button mat-menu-item (click)="translateLenguage(2)"><img src="../../assets/image/en.jpeg">En</button>
    </mat-menu>
  </div>

  <!-- User Info Card -->
  <div style="text-align: center;">
    <h1>{{ "UserInfo" | translate }}</h1>
    <div class="containerUser">
      <div class="container__info">
        <span><i class="fas fa-eye"></i>2350</span>
        <span><i class="fas fa-comment-alt"></i>624</span>
        <span><i class="fas fa-heart"></i>1470</span>
      </div>
      <div class="container__profile">
        <img
          src="https://img2.freepng.es/20180623/iqh/kisspng-computer-icons-avatar-social-media-blog-font-aweso-avatar-icon-5b2e99c40ce333.6524068515297806760528.jpg"
          alt="people" />
        <div class="container__profile__text">
          <h2>Juan Andres</h2>
          <p>by <b>Engineer</b></p>
          <div class="space"></div>

        </div>
      </div>
    </div>
  </div>

  <!-- User Profile -->
  <div class="containerUserProfile">
    <h1>{{ "UserInfo" | translate }}</h1>
    <div class="card">
      <img src="../../assets/image/avatar1.png" alt="Person" class="card__image">
      <p class="card__name">Tom Cepeda Guzman</p>
      <div class="grid-containerInfo">
        <div class="grid-child-posts">
          156 Post
        </div>
        <div class="grid-child-followers">
          1012 Likes
        </div>
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-codepen"></i></a></li>
      </ul>
      <button class="btn draw-border">{{ "EditUser" | translate }} <i class="fas fa-user"></i></button>
      <button class="btn draw-border">{{ "Stadistics" | translate }} <i class="fas fa-analytics"></i></button>
      <button class="btn draw-border">{{ "Settings" | translate }} <i class="fas fa-cogs"></i></button>
      <button class="btn draw-border">{{ "Events" | translate }} <i class="fas fa-map-marker-alt"></i></button>
    </div>
  </div>

  <!-- Menu -->
  <div class="gridMenu">
    <h1>Menu</h1>
    <app-menu></app-menu>
  </div>

  <!-- Tarjetas Interactivas -->
  <div>
    <h1>{{ "Contacts" | translate }}</h1>
    <div class="containerGraficas">
      <div class="section over-hide">
        <div class="container">
          <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
              <div class="section text-center py-5 py-md-0">
                <input class="pricing" type="checkbox" id="pricing" name="pricing" />
                <label for="pricing"><span class="block-diff">{{ "GRAFICA" | translate }}<span class="float-right"
                      style="margin-left: 47px;">{{ "FORM" | translate }}</span></span></label>
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                    <div class="card-front">
                      <div class="pricing-wrap">
                        <h4 class="mb-5"> {{ "GRAFICA" | translate }}
                          <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}">
                          </p-chart>
                        </h4>
                        <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="pricing-wrap">
                        <h4 class="mb-5">{{ "FORM" | translate }}</h4>
                        <br><br>
                        <p-multiSelect [options]="email" [(ngModel)]="selectedEmail"
                          defaultLabel='{{ "FORM" | translate }}' optionLabel="name" display="chip"></p-multiSelect>
                        <br>
                        <br>
                        <input type="text" placeholder='{{ "subject" | translate }}' pInputText style="width: 17rem;" />
                        <br><br>
                        <span class="p-float-label">
                          <textarea placeholder='{{ "Message" | translate }}' id="float-input" rows="5" cols="30"
                            pInputTextarea></textarea>
                        </span>
                        <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                        <a href="#0" class="link">{{ "Send" | translate }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>